*, *::before, *::after {
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    font-family: 'Poppins';
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    padding: 3em 2em;

    text-align: center;
}

.intro__header-one {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
}

.intro__header-two {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.intro__text {
    font-size: 15px;
}