*, *::before, *::after {
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    font-family: 'Poppins';
    margin: 0 auto;
    max-width: 600px;
}

main {
    margin: 0 auto;
}


.intro {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 3em 2em;

    text-align: center;
    color: hsl(234, 12%, 34%);
}

.intro__header-one {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
}

.intro__header-two {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.intro__text {
    font-size: 15px;
}


.section-style {
    margin: 3em;
    margin-top: 0;
    margin-bottom: 2em;

    border-radius: 0.40em;
    border-top-style: solid;
    border-top-width: 0.40em;

    box-shadow: 6px 5px 30px 1px hsl(207, 22%, 82%);
}

.section-one {
    border-top-color: hsl(180, 62%, 55%);
}

.section-two {
    border-top-color: hsl(0, 78%, 62%);
}

.section-three {
    border-top-color: hsl(34, 97%, 64%);
}

.section-four {
    border-top-color: hsl(212, 86%, 64%);
}

.section__container {
    padding: 2em;
}

.section__text {
    margin-bottom: 2em;
}

.section__text h2{
    margin: 0;
    margin-bottom: 0.25em;
    color: hsl(234, 12%, 34%);
}

.section__text p {
    margin: 0;
    color: hsl(212, 6%, 44%);
    font-size: 15px;
}

.section__img {
    display: flex;
    justify-content: flex-end;
}

/*Break point for larger screens like desktop*/
@media (min-width: 900px) {
    body {
        max-width: 1400px;
    }


    .intro {
        max-width: 600px;
    }

    .intro__header-one, .intro__header-two {
        font-size: 2.4rem;
    }

    .intro__text {
        font-size: 1rem;
    }


    .card-grid {
        max-width: 1250px;
        margin: 0 auto;
        padding: 0 2rem;

        display: grid;
        gap: 2.5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        '. two .'
        'one two four'
        'one three four'
        '. three .';
    }

    .section-style {
        margin: 0 auto;
    }

    .section-one {
        grid-area: one;
    }
    .section-two {
        grid-area: two;
    }
    .section-three {
        grid-area: three;
    }
    .section-four {
        grid-area: four;
    }

}